Data Preparation For BandraKurla complex

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('BandraKurlaComplexMumbaiIITM.csv')

In [3]:
print(f'The dataset has {df.shape[0]} rows and {df.shape[1]} columns')

The dataset has 76475 rows and 26 columns

In [4]:
df.head(2)

,Unnamed: 0,From Date,To Date,PM2.5,PM10,NO,NO2,NOx,NH3,SO2,...,RH,WS,WD,SR,BP,Xylene,AT,RF,TOT-RF,Unnamed: 25
0,1,01-01-2021 00:00,01-01-2021 00:15,147.26,175.93,16.23,61.72,45.3,79.76,4.68,...,94.14,0.46,187.53,None,953.2,0,21.84,0,0.0,NaN
1,2,01-01-2021 00:15,01-01-2021 00:30,145.37,173.96,16.88,61.5,45.75,79.01,18.49,...,94.99,0.47,224.11,None,953.2,0,21.84,0,0.0,NaN

In [5]:
df.columns

Index(['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2',
       'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene',
       'MP-Xylene', 'RH', 'WS', 'WD', 'SR', 'BP', 'Xylene', 'AT', 'RF',
       'TOT-RF', 'Unnamed: 25'],
      dtype='object')

In [6]:
df = df[['To Date', 'PM2.5', 'PM10', 'NO', 'NO2',
       'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene',
       'MP-Xylene', 'RH', 'WS', 'WD', 'SR', 'BP', 'Xylene', 'AT', 'RF',
       'TOT-RF']]

Made changes to columns ;
- The time interval for the date was just 15 seconds and the interval is not that huge to make changes to the values
- Unnamed : 0 is a column that contains the index
- Unnamed : 25  contains a lot of null values and the description of the data is not clear,
- We already have our required columns and the others are just features that can help contribute to the results gained for aqi

In [7]:
df.head()

,To Date,PM2.5,PM10,NO,NO2,NOx,NH3,SO2,CO,Ozone,...,MP-Xylene,RH,WS,WD,SR,BP,Xylene,AT,RF,TOT-RF
0,01-01-2021 00:15,147.26,175.93,16.23,61.72,45.3,79.76,4.68,1.38,13,...,None,94.14,0.46,187.53,None,953.2,0,21.84,0,0.0
1,01-01-2021 00:30,145.37,173.96,16.88,61.5,45.75,79.01,18.49,1.38,15,...,None,94.99,0.47,224.11,None,953.2,0,21.84,0,0.0
2,01-01-2021 00:45,156.71,186.12,22.71,62.99,51.15,84.96,17.62,1.27,10,...,None,93.88,0.46,212.47,None,953.2,0,22.01,0,0.0
3,01-01-2021 01:00,171.18,205.41,16.55,59.13,44.19,77.83,18.14,1.23,12,...,None,93.38,0.27,216.65,None,954.2,0,21.99,0,0.0
4,01-01-2021 01:15,183.17,219.31,20.39,59.87,47.66,81.63,18.69,1.24,14,...,None,92.44,0.17,103.12,None,954.9,0,22.04,0,0.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76475 entries, 0 to 76474
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   To Date      76475 non-null  object
 1   PM2.5        76475 non-null  object
 2   PM10         76475 non-null  object
 3   NO           76475 non-null  object
 4   NO2          76475 non-null  object
 5   NOx          76475 non-null  object
 6   NH3          76475 non-null  object
 7   SO2          76475 non-null  object
 8   CO           76475 non-null  object
 9   Ozone        76475 non-null  object
 10  Benzene      76475 non-null  object
 11  Toluene      76475 non-null  object
 12  Eth-Benzene  76475 non-null  object
 13  MP-Xylene    76475 non-null  object
 14  RH           76475 non-null  object
 15  WS           76475 non-null  object
 16  WD           76475 non-null  object
 17  SR           76475 non-null  object
 18  BP           76475 non-null  object
 19  Xylene       76475 non-null  object
 20  AT           76475 non-null  object
 21  RF           76475 non-null  object
 22  TOT-RF       76475 non-null  float64
dtypes: float64(1), object(22)
memory usage: 13.4+ MB

In [9]:
df.replace('None', np.nan, inplace=True)

In [10]:
#changing the datatypes
df[['PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO',
       'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS',
       'WD', 'SR', 'BP', 'Xylene', 'AT', 'RF', 'TOT-RF']]= df[['PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO',
       'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS',
       'WD', 'SR', 'BP', 'Xylene', 'AT', 'RF', 'TOT-RF']].astype(float)

df['To Date'] = pd.to_datetime(df['To Date'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76475 entries, 0 to 76474
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   To Date      76475 non-null  datetime64[ns]
 1   PM2.5        54706 non-null  float64
 2   PM10         54415 non-null  float64
 3   NO           51599 non-null  float64
 4   NO2          52139 non-null  float64
 5   NOx          52239 non-null  float64
 6   NH3          51777 non-null  float64
 7   SO2          52046 non-null  float64
 8   CO           54602 non-null  float64
 9   Ozone        54368 non-null  float64
 10  Benzene      56510 non-null  float64
 11  Toluene      56425 non-null  float64
 12  Eth-Benzene  53829 non-null  float64
 13  MP-Xylene    52911 non-null  float64
 14  RH           56278 non-null  float64
 15  WS           55954 non-null  float64
 16  WD           56084 non-null  float64
 17  SR           0 non-null      float64
 18  BP           56336 non-null  float64
 19  Xylene       56417 non-null  float64
 20  AT           42775 non-null  float64
 21  RF           56369 non-null  float64
 22  TOT-RF       76475 non-null  float64
dtypes: datetime64[ns](1), float64(22)
memory usage: 13.4 MB

In [12]:
df['year'] = df['To Date'].dt.year
df['month'] = df['To Date'].dt.month
df['day'] = df['To Date'].dt.day

In [13]:
df.columns

Index(['To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO',
       'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS',
       'WD', 'SR', 'BP', 'Xylene', 'AT', 'RF', 'TOT-RF', 'year', 'month',
       'day'],
      dtype='object')

- Removing rows that have all values missing  in the required features needed for aqi
- Removing the date column

In [14]:
df = df.dropna(subset=['PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone'], how='all')

In [15]:
df.shape

(57412, 26)

In [16]:
df = df.drop('To Date', axis=1)

In [17]:
(df.isnull().sum() / len(df)) * 100

PM2.5            4.713300
PM10             5.220163
NO              10.125061
NO2              9.184491
NOx              9.010311
NH3              9.815021
SO2              9.346478
CO               4.894447
Ozone            5.302027
Benzene          1.973455
Toluene          2.130217
Eth-Benzene      6.651919
MP-Xylene        8.247405
RH               2.720686
WS               3.285028
WD               3.063819
SR             100.000000
BP               2.621403
Xylene           2.140667
AT              26.149585
RF               2.565666
TOT-RF           0.000000
year             0.000000
month            0.000000
day              0.000000
dtype: float64

- Drop columnns that have more than 20% null values
- NB: the required columns have no probelm with the null values since they are all less than

In [20]:
threshold = len(df) * 0.25  # set the threshold to 20% of the total number of rows
df.dropna(thresh=threshold, axis=1, inplace=True)

In [21]:
(df.isnull().sum() / len(df)) * 100

PM2.5           4.713300
PM10            5.220163
NO             10.125061
NO2             9.184491
NOx             9.010311
NH3             9.815021
SO2             9.346478
CO              4.894447
Ozone           5.302027
Benzene         1.973455
Toluene         2.130217
Eth-Benzene     6.651919
MP-Xylene       8.247405
RH              2.720686
WS              3.285028
WD              3.063819
BP              2.621403
Xylene          2.140667
AT             26.149585
RF              2.565666
TOT-RF          0.000000
year            0.000000
month           0.000000
day             0.000000
dtype: float64

In [22]:
df.shape

(57412, 24)

In [23]:
#dropping duplicates
df = df.drop_duplicates()

In [24]:
df.shape

(57393, 24)

## Data manipulation

Kalman Smoothing on Structural Time Series method is the best method among the methods considered, for imputing missing values in the context of air quality data under Missing Completely at Random (MCAR) mechanism.

#### Imputation

## Visualization