Data Preparation For Worli,Mumbai

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('C:/Users/Benedict/Desktop/omdena-mumbai-chapter-air-quality/src/data/WorliMumbaiMPCB.csv')

In [3]:
print(f'The dataset has {df.shape[0]} rows and {df.shape[1]} columns')

The dataset has 76321 rows and 23 columns

In [4]:
df.head(2)

,Unnamed: 0,From Date,To Date,PM2.5,PM10,NO,NO2,NOx,NH3,SO2,...,Toluene,Eth-Benzene,MP-Xylene,RH,WS,WD,BP,AT,TOT-RF,Unnamed: 22
0,1,01-01-2021 00:00,01-01-2021 00:15,153,208.31,7.6,34.82,42.42,20.51,18.2,...,None,6.84,31.01,86.38,0.56,230.78,None,23.67,0,NaN
1,2,01-01-2021 00:15,01-01-2021 00:30,153,212,7.94,34.18,42.12,19.82,18.01,...,None,39.88,3.72,86.83,0.69,255.87,None,23.65,0,NaN

In [5]:
df.columns

Index(['Unnamed: 0', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2',
       'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene',
       'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'AT', 'TOT-RF', 'Unnamed: 22'],
      dtype='object')

In [6]:
df = df[['To Date', 'PM2.5', 'PM10', 'NO', 'NO2',
       'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene',
       'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'AT','TOT-RF']]

Made changes to columns ;
- The time interval for the date was just 15 seconds and the interval is not that huge to make changes to the values
- Unnamed : 0 is a column that contains the index
- Unnamed : 25  contains a lot of null values and the description of the data is not clear,
- We already have our required columns and the others are just features that can help contribute to the results gained for aqi

In [7]:
df.head()

,To Date,PM2.5,PM10,NO,NO2,NOx,NH3,SO2,CO,Ozone,Benzene,Toluene,Eth-Benzene,MP-Xylene,RH,WS,WD,BP,AT,TOT-RF
0,01-01-2021 00:15,153,208.31,7.6,34.82,42.42,20.51,18.2,0.9,0.87,0,None,6.84,31.01,86.38,0.56,230.78,None,23.67,0
1,01-01-2021 00:30,153,212,7.94,34.18,42.12,19.82,18.01,0.89,0.8,0.06,None,39.88,3.72,86.83,0.69,255.87,None,23.65,0
2,01-01-2021 00:45,153,212,7.75,30.37,38.12,19.88,18.21,0.89,0.94,2.75,None,33.42,109.14,86.86,0.9,259.7,None,23.6,0
3,01-01-2021 01:00,None,212,7.63,28.81,36.45,20.1,18.16,0.88,0.95,0,None,0.42,36.88,86.85,0.58,257.98,None,23.5,0
4,01-01-2021 01:15,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76321 entries, 0 to 76320
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   To Date      76321 non-null  object
 1   PM2.5        76321 non-null  object
 2   PM10         76321 non-null  object
 3   NO           76321 non-null  object
 4   NO2          76321 non-null  object
 5   NOx          76321 non-null  object
 6   NH3          76321 non-null  object
 7   SO2          76321 non-null  object
 8   CO           76321 non-null  object
 9   Ozone        76321 non-null  object
 10  Benzene      76321 non-null  object
 11  Toluene      76321 non-null  object
 12  Eth-Benzene  76321 non-null  object
 13  MP-Xylene    76321 non-null  object
 14  RH           76321 non-null  object
 15  WS           76321 non-null  object
 16  WD           76321 non-null  object
 17  BP           76321 non-null  object
 18  AT           76321 non-null  object
 19  TOT-RF       76321 non-null  int64
dtypes: int64(1), object(19)
memory usage: 11.6+ MB

In [9]:
df.replace('None', np.nan, inplace=True)

In [11]:
#changing the datatypes
df[['PM2.5', 'PM10', 'NO', 'NO2',
       'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene',
       'MP-Xylene', 'RH', 'WS', 'WD', 'BP', 'AT','TOT-RF']].astype(float)

df['To Date'] = pd.to_datetime(df['To Date'])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76321 entries, 0 to 76320
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   To Date      76321 non-null  datetime64[ns]
 1   PM2.5        65413 non-null  object
 2   PM10         51456 non-null  object
 3   NO           54105 non-null  object
 4   NO2          46521 non-null  object
 5   NOx          57549 non-null  object
 6   NH3          44030 non-null  object
 7   SO2          52408 non-null  object
 8   CO           53762 non-null  object
 9   Ozone        53051 non-null  object
 10  Benzene      62376 non-null  object
 11  Toluene      0 non-null      float64
 12  Eth-Benzene  36912 non-null  object
 13  MP-Xylene    31368 non-null  object
 14  RH           55945 non-null  object
 15  WS           55938 non-null  object
 16  WD           55973 non-null  object
 17  BP           17807 non-null  object
 18  AT           55866 non-null  object
 19  TOT-RF       76321 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(17)
memory usage: 11.6+ MB

In [13]:
df['year'] = df['To Date'].dt.year
df['month'] = df['To Date'].dt.month
df['day'] = df['To Date'].dt.day

In [14]:
df.columns

Index(['To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO',
       'Ozone', 'Benzene', 'Toluene', 'Eth-Benzene', 'MP-Xylene', 'RH', 'WS',
       'WD', 'BP', 'AT', 'TOT-RF', 'year', 'month', 'day'],
      dtype='object')

- Removing rows that have all values missing  in the required features needed for aqi
- Removing the date column

In [15]:
df = df.dropna(subset=['PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone'], how='all')

In [16]:
df.shape

(68805, 23)

In [17]:
df = df.drop('To Date', axis=1)

In [18]:
(df.isnull().sum() / len(df)) * 100

PM2.5            4.929874
PM10            25.214737
NO              21.364726
NO2             32.387181
NOx             16.359276
NH3             36.007558
SO2             23.831117
CO              21.863237
Ozone           22.896592
Benzene          9.574886
Toluene        100.000000
Eth-Benzene     46.508248
MP-Xylene       54.510573
RH              18.693409
WS              18.703583
WD              18.652714
BP              74.119613
AT              18.808226
TOT-RF           0.000000
year             0.000000
month            0.000000
day              0.000000
dtype: float64

- Drop columnns that have more than 20% null values
- NB: the required columns have no probelm with the null values since they are all less than

In [24]:
threshold = len(df) * 0.5  # set the threshold to 50% of the total number of rows
df.dropna(thresh=threshold, axis=1, inplace=True)

In [20]:
(df.isnull().sum() / len(df)) * 100

PM2.5           4.929874
PM10           25.214737
NO             21.364726
NO2            32.387181
NOx            16.359276
NH3            36.007558
SO2            23.831117
CO             21.863237
Ozone          22.896592
Benzene         9.574886
Eth-Benzene    46.508248
RH             18.693409
WS             18.703583
WD             18.652714
AT             18.808226
TOT-RF          0.000000
year            0.000000
month           0.000000
day             0.000000
dtype: float64

In [21]:
df.shape

(68805, 19)

In [22]:
#dropping duplicates
df = df.drop_duplicates()

In [23]:
df.shape

(66770, 19)

## Data manipulation

Kalman Smoothing on Structural Time Series method is the best method among the methods considered, for imputing missing values in the context of air quality data under Missing Completely at Random (MCAR) mechanism.

#### Imputation

## Visualization