# Blue Sky Analytics SpatialAQ API

In [5]:
# This package helps us reach out to the API
import requests
# This package is necessary to ensure you receive data in a JSON format
import json

import pandas as pd

### PM2.5 for 1 Week

In [20]:
# Specifying parameters for the endpoint
mydict={
  'api-key': 'a4a9b215-151c-5d63-888c-b1372a326911',
  'product': 'pm25',
  'region': 'mumbai',
  'regionType': 'district',
  'duration': '1w'
}

In [21]:
#Making an API call and displaying the output.
response = requests.get("https://gateway.blueskyhq.in/api/breezo/spatial", params = mydict).json()
print(json.dumps(response, indent=2))

{
  "data": [
    {
      "datetime": "2023-03-10T00:00:00.000Z",
      "pm25": 86.34292602539062
    },
    {
      "datetime": "2023-03-11T00:00:00.000Z",
      "pm25": 139.47581481933594
    },
    {
      "datetime": "2023-03-12T00:00:00.000Z",
      "pm25": 197.94598388671875
    },
    {
      "datetime": "2023-03-13T00:00:00.000Z",
      "pm25": 165.83419799804688
    },
    {
      "datetime": "2023-03-14T00:00:00.000Z",
      "pm25": 206.12835693359375
    },
    {
      "datetime": "2023-03-15T00:00:00.000Z",
      "pm25": 112.1551742553711
    },
    {
      "datetime": "2023-03-16T00:00:00.000Z",
      "pm25": 68.21656799316406
    }
  ],
  "meta": {
    "admin_level": 4,
    "duration": "1w",
    "meta": null,
    "name": "Mumbai",
    "shapeId": null
  }
}

In [22]:
# Convert the data to a dataframe
week_df = pd.json_normalize(response, 'data')

week_df

                   datetime        pm25
0  2023-03-10T00:00:00.000Z   86.342926
1  2023-03-11T00:00:00.000Z  139.475815
2  2023-03-12T00:00:00.000Z  197.945984
3  2023-03-13T00:00:00.000Z  165.834198
4  2023-03-14T00:00:00.000Z  206.128357
5  2023-03-15T00:00:00.000Z  112.155174
6  2023-03-16T00:00:00.000Z   68.216568

### S02 for 1 Week

In [24]:
# Specifying parameters for the endpoint
mydict={
  'api-key': 'a4a9b215-151c-5d63-888c-b1372a326911',
  'product': 'so2',
  'region': 'mumbai',
  'regionType': 'district',
  'duration': '1d'
}

#Making an API call and displaying the output.
response = requests.get("https://gateway.blueskyhq.in/api/breezo/spatial", params = mydict).json()

# Convert the data to a dataframe
so2 = pd.json_normalize(response, 'data')

so2

                   datetime   so2
0  2023-03-16T00:00:00.000Z  None

### PM2.5 for 1 Month

In [26]:
# Specifying parameters for the endpoint
mydict={
  'api-key': 'a4a9b215-151c-5d63-888c-b1372a326911',
  'product': 'pm25',
  'region': 'mumbai',
  'regionType': 'district',
  'duration': '1m'
}

#Making an API call and displaying the output.
response = requests.get("https://gateway.blueskyhq.in/api/breezo/spatial", params = mydict).json()

print(json.dumps(response, indent=2))

{
  "message": "Unauthorized"
}

* It seems we can't access data for a period more than 1 week with free plan
* With free plan we can only make 300 api requests