In [160]:
#connect to Waze and get information on traffic jams within Mumbai
#location is defined as the smallest rectangle that includes all Mumbai AQ stations
#bottom left: 18.91,72.81; top right: 19.38,73.03"

import requests
import pandas as pd

url = "https://waze.p.rapidapi.com/alerts-and-jams"

querystring = {"bottom_left":"18.91,72.81","top_right":"19.38,73.03","max_alerts":"100","max_jams":"100"}
#querystring = {"bottom_left":"32.2,34.84","top_right":"32.4,35.04","max_alerts":"20","max_jams":"20"}

headers = {
	"X-RapidAPI-Key": "3dcb9b4207msh96fdb7b9c085617p112547jsn83e986f61388",
	"X-RapidAPI-Host": "waze.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

data = response.json()

In [163]:
jams = data['data']['jams']
atts = ['type', 'level', 'severity', 'speed_kmh', 'length_meters', 'delay_seconds', 'update_datetime_utc', 'line_coordinates']
alerts_ar = []
for jam in jams:
   alert = {}
   for att in atts:
      alert.update({att: jam[att]})
   alerts_ar.append(alert)
df = pd.DataFrame(alerts_ar)

In [164]:
#line_coordinates is a sequence of coordinates specifying a jammed road
#the road outline can be derived by connecting each dot to the following one

df = df.rename(columns={"alert_reliability": "reliability", "alert_confidence": "confidence", 
          "publish_datetime_utc": "time"})
df

,type,level,severity,speed_kmh,length_meters,delay_seconds,update_datetime_utc,line_coordinates
0,NONE,5,5,0.00,305,0,2023-03-23T14:57:24.206Z,"[{'lat': 18.948851, 'lon': 72.836983}, {'lat':..."
1,NONE,5,5,0.00,209,0,2023-03-23T14:57:24.054Z,"[{'lat': 19.072766, 'lon': 72.906485}, {'lat':..."
2,NONE,5,5,0.00,10,0,2023-03-23T14:57:24.423Z,"[{'lat': 18.998021, 'lon': 72.831209}, {'lat':..."
3,NONE,3,5,4.85,502,271,2023-03-23T14:57:24.548Z,"[{'lat': 19.000295, 'lon': 72.811511}, {'lat':..."
4,NONE,5,5,0.00,126,0,2023-03-23T14:57:24.808Z,"[{'lat': 18.996885, 'lon': 72.831255}, {'lat':..."
5,NONE,5,5,0.00,122,0,2023-03-23T14:57:24.056Z,"[{'lat': 18.934608, 'lon': 72.832756}, {'lat':..."
6,NONE,5,5,0.00,173,0,2023-03-23T14:57:23.439Z,"[{'lat': 19.061352, 'lon': 72.853197}, {'lat':..."
7,NONE,5,5,0.00,313,0,2023-03-23T14:57:24.636Z,"[{'lat': 18.998019, 'lon': 72.831304}, {'lat':..."
8,NONE,5,5,0.00,321,0,2023-03-23T14:57:24.790Z,"[{'lat': 19.000913, 'lon': 72.831156}, {'lat':..."
9,NONE,5,5,0.00,10,0,2023-03-23T14:57:23.854Z,"[{'lat': 18.998019, 'lon': 72.831304}, {'lat':..."
10,NONE,5,5,0.00,141,0,2023-03-23T14:57:24.359Z,"[{'lat': 18.933537, 'lon': 72.832028}, {'lat':..."
11,NONE,5,5,0.00,350,0,2023-03-23T14:57:24.722Z,"[{'lat': 19.11585, 'lon': 72.845482}, {'lat': ..."
12,NONE,5,5,0.00,387,0,2023-03-23T14:57:23.697Z,"[{'lat': 19.115288, 'lon': 72.848765}, {'lat':..."
13,NONE,5,5,0.00,244,0,2023-03-23T14:57:24.216Z,"[{'lat': 18.998101, 'lon': 72.828891}, {'lat':..."
14,NONE,5,5,0.00,95,0,2023-03-23T14:57:23.945Z,"[{'lat': 18.932956, 'lon': 72.831388}, {'lat':..."
15,NONE,5,5,0.00,305,0,2023-03-23T14:57:24.427Z,"[{'lat': 18.948839, 'lon': 72.839835}, {'lat':..."
16,NONE,5,5,0.00,328,0,2023-03-23T14:57:25.210Z,"[{'lat': 18.998021, 'lon': 72.831209}, {'lat':..."
17,NONE,5,5,0.00,173,0,2023-03-23T14:57:24.570Z,"[{'lat': 19.060228, 'lon': 72.852235}, {'lat':..."
18,NONE,5,5,0.00,38,0,2023-03-23T14:57:23.687Z,"[{'lat': 19.119279, 'lon': 72.880246}, {'lat':..."
19,NONE,5,5,0.00,5,0,2023-03-23T14:57:24.623Z,"[{'lat': 19.194855, 'lon': 72.976933}, {'lat':..."
20,NONE,5,5,0.00,233,0,2023-03-23T14:57:23.886Z,"[{'lat': 19.009313, 'lon': 72.832964}, {'lat':..."
21,NONE,2,5,24.71,1952,142,2023-03-23T14:57:23.156Z,"[{'lat': 19.177371, 'lon': 72.858774}, {'lat':..."
22,NONE,5,5,0.00,90,0,2023-03-23T14:57:23.979Z,"[{'lat': 18.935535, 'lon': 72.833382}, {'lat':..."
23,NONE,3,5,13.76,624,118,2023-03-23T14:57:23.443Z,"[{'lat': 18.952838, 'lon': 72.817393}, {'lat':..."
24,NONE,5,5,0.00,309,0,2023-03-23T14:57:23.717Z,"[{'lat': 19.284764, 'lon': 72.901636}, {'lat':..."
25,NONE,5,5,0.00,36,0,2023-03-23T14:57:24.481Z,"[{'lat': 19.009231, 'lon': 72.833285}, {'lat':..."
26,NONE,5,5,0.00,244,0,2023-03-23T14:57:24.485Z,"[{'lat': 18.998021, 'lon': 72.831209}, {'lat':..."
27,NONE,5,5,0.00,38,0,2023-03-23T14:57:24.861Z,"[{'lat': 19.119323, 'lon': 72.880605}, {'lat':..."
28,NONE,5,5,0.00,209,0,2023-03-23T14:57:23.411Z,"[{'lat': 19.074263, 'lon': 72.905474}, {'lat':..."
29,NONE,5,5,0.00,22,0,2023-03-23T14:57:23.645Z,"[{'lat': 18.932834, 'lon': 72.831224}, {'lat':..."