In [178]:
import requests

token = 'cd5b792d5b2d7a65e9c31fd710773253f2772f5d'

In [179]:
#search request to get all Mumbai stations
URL = "http://api.waqi.info/search/?keyword=Mumbai&token=cd5b792d5b2d7a65e9c31fd710773253f2772f5d"
r = requests.get(url = URL)
data = r.json()

In [180]:
#create an array of stations
stations = [item['station'] for item in data['data']]
#create an array of station URLs to be incorporated into each station-specific request
urls = [ item['url'] for item in stations ]
urls

['india/mumbai/sion',
 'india/mumbai/bandra-kurla-complex',
 'india/mumbai/worli',
 'india/mumbai/powai',
 'india/mumbai/siddharth-nagar-worli',
 'india/mumbai/us-consulate',
 'india/mumbai/chhatrapati-shivaji-intl.-airport-t2',
 'india/mumbai/vile-parle-west',
 'india/mumbai/kurla',
 'india/mumbai/deonar',
 'india/mumbai/chakala-andheri-east',
 'india/mumbai/bandra',
 'india/mumbai/colaba',
 'india/mumbai/vasai-west',
 'india/navi-mumbai/nerul',
 'india/navi-mumbai/mahape',
 'india/mumbai/nmmc-airoli',
 'india/mumbai/borivali-east',
 'india/navi-mumbai/sector-19a-nerul']

In [230]:
#get current data based on each URL
stations_data = []
for item in urls:
  url = "https://api.waqi.info/feed/{url}/?token={token}".format(token=token, url=item)
  r = requests.get(url = url)
  data = r.json()
  stations_data.append(data)

In [256]:
#example for one station data
stations_data[0]['data']

{'aqi': 196,
 'idx': 12464,
 'attributions': [{'url': 'http://cpcb.nic.in/',
   'name': 'CPCB - India Central Pollution Control Board',
   'logo': 'India-CPCB.png'},
  {'url': 'https://waqi.info/', 'name': 'World Air Quality Index Project'}],
 'city': {'geo': [19.047, 72.8746],
  'name': 'Sion, Mumbai, India',
  'url': 'https://aqicn.org/city/india/mumbai/sion',
  'location': ''},
 'dominentpol': 'pm25',
 'iaqi': {'co': {'v': 10.4},
  'dew': {'v': 13},
  'h': {'v': 33.73},
  'no2': {'v': 4.9},
  'o3': {'v': 5.6},
  'p': {'v': 1009},
  'pm10': {'v': 102},
  'pm25': {'v': 196},
  'so2': {'v': 7.2},
  't': {'v': 37},
  'w': {'v': 5.4375},
  'wg': {'v': 10.8}},
 'time': {'s': '2023-03-11 14:00:00',
  'tz': '+05:30',
  'v': 1678543200,
  'iso': '2023-03-11T14:00:00+05:30'},
 'forecast': {'daily': {'o3': [{'avg': 20,
     'day': '2023-03-09',
     'max': 88,
     'min': 1},
    {'avg': 19, 'day': '2023-03-10', 'max': 58, 'min': 1},
    {'avg': 21, 'day': '2023-03-11', 'max': 73, 'min': 2},
    {'avg': 19, 'day': '2023-03-12', 'max': 103, 'min': 3},
    {'avg': 20, 'day': '2023-03-13', 'max': 111, 'min': 1},
    {'avg': 13, 'day': '2023-03-14', 'max': 85, 'min': 1},
    {'avg': 10, 'day': '2023-03-15', 'max': 79, 'min': 2},
    {'avg': 2, 'day': '2023-03-16', 'max': 12, 'min': 2}],
   'pm10': [{'avg': 46, 'day': '2023-03-09', 'max': 46, 'min': 46},
    {'avg': 45, 'day': '2023-03-10', 'max': 46, 'min': 33},
    {'avg': 51, 'day': '2023-03-11', 'max': 58, 'min': 46},
    {'avg': 55, 'day': '2023-03-12', 'max': 58, 'min': 46},
    {'avg': 59, 'day': '2023-03-13', 'max': 63, 'min': 56},
    {'avg': 61, 'day': '2023-03-14', 'max': 70, 'min': 57},
    {'avg': 65, 'day': '2023-03-15', 'max': 73, 'min': 58},
    {'avg': 53, 'day': '2023-03-16', 'max': 58, 'min': 46},
    {'avg': 46, 'day': '2023-03-17', 'max': 46, 'min': 46}],
   'pm25': [{'avg': 138, 'day': '2023-03-09', 'max': 138, 'min': 138},
    {'avg': 135, 'day': '2023-03-10', 'max': 138, 'min': 89},
    {'avg': 146, 'day': '2023-03-11', 'max': 159, 'min': 138},
    {'avg': 151, 'day': '2023-03-12', 'max': 159, 'min': 138},
    {'avg': 158, 'day': '2023-03-13', 'max': 159, 'min': 156},
    {'avg': 159, 'day': '2023-03-14', 'max': 159, 'min': 157},
    {'avg': 159, 'day': '2023-03-15', 'max': 174, 'min': 138},
    {'avg': 148, 'day': '2023-03-16', 'max': 159, 'min': 138},
    {'avg': 138, 'day': '2023-03-17', 'max': 138, 'min': 138}]}},
 'debug': {'sync': '2023-03-11T19:26:17+09:00'}}

In [257]:
import pandas as pd

df = pd.DataFrame()

data_ar = []

indicators = ['co', 'no2', 'so2', 'o3', 'pm10', 'pm25']

for station_data in stations_data:
    aq = station_data['data']['iaqi']
    aqi = station_data['data']['aqi']
    row = {}
    row.update({'station':station_data['data']['city']['name']})
    row.update({'time':station_data['data']['time']['s']})
    #assign non existent values with None
    for ind in indicators:
        if not (ind in aq.keys()):
            aq[ind] = None
        row.update({ind:aq[ind]})
    data_ar.append(row)

In [258]:
pd.DataFrame(data_ar)

,station,time,co,no2,so2,o3,pm10,pm25
0,"Sion, Mumbai, India",2023-03-11 14:00:00,{'v': 10.4},{'v': 4.9},{'v': 7.2},{'v': 5.6},{'v': 102},{'v': 196}
1,"Bandra Kurla Complex, Mumbai, India",2023-03-11 14:00:00,{'v': 2.2},{'v': 68.2},{'v': 30.7},{'v': 77.3},{'v': 120},{'v': 168}
2,"Worli, Mumbai, India",2023-03-11 15:00:00,{'v': 15.6},{'v': 13.4},{'v': 2.5},{'v': 0.4},{'v': 60},{'v': 129}
3,"Powai, Mumbai, India",2023-03-11 15:00:00,{'v': 5.8},{'v': 17.4},{'v': 6.7},{'v': 22},{'v': 82},{'v': 149}
4,"Siddharth Nagar-Worli, Mumbai, India",2023-03-11 15:00:00,{'v': 5.7},{'v': 8.4},None,{'v': 67.1},{'v': 76},{'v': 148}
5,"Mumbai US Consulate, India (मुंबई अमेरिकी वाणि...",2023-03-11 15:00:00,None,None,None,None,None,{'v': 122}
6,"Chhatrapati Shivaji Intl. Airport (T2), Mumbai...",2023-03-11 15:00:00,{'v': 15.3},{'v': 47.3},{'v': 4.2},{'v': 9.7},{'v': 97},{'v': 101}
7,"Vile Parle West, Mumbai, India",2023-03-11 15:00:00,{'v': 11.1},{'v': 10.7},{'v': 29.8},{'v': 13.7},{'v': 92},None
8,"Kurla, Mumbai, India",2023-03-11 14:00:00,{'v': 3.3},{'v': 8.3},{'v': 13},{'v': 56.5},{'v': 78},{'v': 70}
9,"Deonar, Mumbai, India",2023-03-03 20:00:00,{'v': 16},{'v': 28.5},{'v': 4.1},{'v': 11.2},{'v': 163},{'v': 228}
10,"Chakala-Andheri East, Mumbai, India",2023-03-03 00:00:00,{'v': 36.2},{'v': 97},{'v': 15},{'v': 26.9},{'v': 152},{'v': 234}
11,"Bandra, Mumbai, India",2021-12-24 12:00:00,None,None,{'v': 12},None,{'v': 75},{'v': 107}
12,"Colaba, Mumbai, India",2023-03-07 12:00:00,{'v': 12.2},{'v': 2.9},{'v': 9.4},{'v': 4.1},{'v': 58},{'v': 93}
13,"Vasai West, Mumbai, India",2023-03-11 15:00:00,{'v': 7.9},{'v': 3.5},{'v': 3.6},{'v': 33.1},{'v': 88},{'v': 114}
14,"Nerul, Navi Mumbai, India",2023-03-11 14:00:00,{'v': 7},{'v': 21.2},{'v': 9.2},None,{'v': 73},{'v': 119}
15,"Mahape, Navi Mumbai, India",2023-03-11 15:00:00,{'v': 8.5},{'v': 18.2},{'v': 18.1},{'v': 12.2},{'v': 77},{'v': 87}
16,"NMMC Airoli, Mumbai, India",2020-04-09 05:00:00,{'v': 13.4},None,{'v': 19.8},None,{'v': 37},None
17,"Borivali East, Mumbai, India",2023-03-11 15:00:00,{'v': 0.5},{'v': 23.9},None,{'v': 23.6},{'v': 76},{'v': 157}
18,"Sector-19A Nerul, Navi Mumbai, India",2023-03-10 00:00:00,{'v': 20.6},{'v': 15.3},{'v': 38.5},{'v': 7.2},{'v': 189},{'v': 302}